.booking-table-wrapper {
  background: white;
  border: 1px solid #ececec;
  border-radius: 16px;
  padding: 20px;
}

.booking-table {
  width: 100%;
  border-collapse: collapse;
}

.booking-table th,
.booking-table td {
  text-align: left;
  padding: 18px 10px;
}

.booking-table tr {
  border-bottom: 1px solid #f0f0f0;
}