.top-profile {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-btn {
  border: none;
  background: transparent;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 42px;
  height: 42px;

  border-radius: 50%;
  object-fit: cover;
}
